<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>                
                <!-- Prevent clickjacking -->
                <add name="X-Frame-Options" value="DENY" />
                <!-- Prevent MIME type sniffing -->
                <add name="X-Content-Type-Options" value="nosniff" />
                <!-- Enforce HTTPS -->
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <!-- Content Security Policy -->
                <add name="Content-Security-Policy" value=" 
                          default-src 'self' data: ; 
                          script-src 'self' data: 'unsafe-eval' 'unsafe-inline'; 
                          style-src 'self' data: 'unsafe-inline'; 
                          frame-src 'self'  blob:;
                          img-src 'self' data:; 
                          font-src 'self' data:;
                          connect-src 'self' https://*.windows.nyc.hra.nycnet https://*.hra.nycnet https://*.msappproxy.net/ https://*.microsoftonline.com/; 
                          frame-ancestors 'self'; 
                          object-src 'self'; 
                          base-uri 'self'; 
                          form-action 'self'; 
                          upgrade-insecure-requests;" />
                <remove name="X-Powered-By" />
                <remove name="Server" />
            </customHeaders>
        </httpProtocol>
        <security>
          <requestFiltering removeServerHeader ="true"></requestFiltering>
        </security>
    </system.webServer>
</configuration>